@keyframes rotate_infinite {
  from {
    transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.header__square-pic {
  animation: rotate_infinite 20s linear infinite forwards;
}

.kaufman__trianlge {
  animation: rotate_infinite 20s linear infinite forwards;
}



